.about_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding-bottom: 10rem;
  font-family: Inter,sans-serif
}

.about_text {
  color: #f2f2f2;
  width: 600px;
  padding: 25px;
}

.about_text > h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

.about_text > p {
  font-size: 18px;
  font-weight: 100;
  text-align: justify;
}

.button-links_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

span {
  font-weight: bold;
  color: rgb(59 130 246);
}

@media (max-width: 950px) {
  .about_text {
    width: 400px;
  }
  .about_text > h1 {
    font-size: 20px;
  }

  .about_text > p {
    font-size: 15px;
  }
}

@media (max-width: 755px) {
  .about_text {
    width: 350px;
  }
  .about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
