<div class="about_container" id="section1">
  <div class="about_text">
    <h1>Quem Sou</h1>
    <p>
      Sou Desenvolvedor Fullstack Júnior com sólida base técnica e mais de 4 anos de experiência prática em infraestrutura, 
      suporte técnico e desenvolvimento de software. Atualmente curso Análise e Desenvolvimento de Sistemas no 
      Instituto Federal de São Paulo e atuo como Analista de Suporte N3 na Sonner Sistemas, com foco em sistemas voltados à gestão pública.
    </p>
    <br>
    <p>
      Minha stack principal inclui React, Angular, TypeScript e Tailwind no front-end, com forte atenção à performance, 
      acessibilidade e arquitetura de componentes. No back-end, atuo com Node.js, Java (Spring), Python (Django) e 
      integração com APIs REST/GraphQL. Tenho experiência com bancos de dados relacionais e não relacionais (PostgreSQL, MySQL, MongoDB)
    </p>
    <br>
    <p>
      Venho me aprimorando no mundo mobile, desenvolvendo aplicativos integrados utilizando principalmente Flutter e Dart, buscando aprimorar
      conceitos de UI/UX, rotas de navegação e o gerenciamento de estado e animações. Sempre com foco em uma experiência fluida.
    </p>
    <br>
    <p>
      Tenho domínio do ciclo completo de desenvolvimento, desde a análise de requisitos e até a integração de sistemas, CI/CD, 
      testes automatizados, deploy em nuvem e monitoramento.
    </p>
  </div>
  <div class="button-links_container">
    <app-button
      class="button"
      width="300px"
      height="100px"
      title="Linkedin"
      link="https://www.linkedin.com/in/renanbreier/"
      logo="assets/icons/linkedin_icon.svg"
    ></app-button>
    <app-button
      class="button"
      width="300px"
      height="100px"
      title="GitHub"
      link="https://github.com/renanbreier"
      logo="assets/projects/git2.svg"
    ></app-button>
    <app-button
      class="button"
      width="300px"
      height="100px"
      title="Instagram"
      link="https://www.instagram.com/renan.breier/#"
      logo="assets/icons/instagram.png"
    ></app-button>
  </div>
</div>
