<div class="container">
  <div class="content">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <div class="sub">
      <p>{{ sub }}</p>
    </div>
    <div class="tech">
      <p *ngIf="tech_1">{{ tech_1 }}</p>
      <p *ngIf="tech_2">{{ tech_2 }}</p>
      <p *ngIf="tech_3">{{ tech_3 }}</p>
      <p *ngIf="tech_4">{{ tech_4 }}</p>
      <p *ngIf="tech_5">{{ tech_5 }}</p>
    </div>
    <div class="links_container">
      <div class="links">
        <img class="icon" src="assets/projects/link.svg" alt="" srcset="" />
        <a [href]="[view]" target="_blank">Preview</a>
      </div>
      <div class="links">
        <img class="icon" src="assets/projects/git2.svg" alt="" srcset="" />
        <a [href]="[code]" target="_blank">View Code</a>
      </div>
    </div>
  </div>
</div>
