<div class="projects-cards_container">
  <div class="projects-body">
    <div class="text">
      <h3>Projetos reais</h3>
    </div>
    <div class="card_container">
      <app-cards
        *ngFor="let data of items"
        projImg="{{ data.proj }}"
        title="{{ data.title }}"
        sub="{{ data.sub }}"
        tech_1="{{ data.tech_1 }}"
        tech_2="{{ data.tech_2 }}"
        tech_3="{{ data.tech_3 }}"
        tech_4="{{ data.tech_4 }}"
        tech_5="{{ data.tech_5 }}"
        view="{{ data.view }}"
        code="{{ data.code }}"
      ></app-cards>
    </div>
  </div>
</div>
