<div class="techStack_container" id="section4">
  <div class="text">
    <h3 class="title">Conhecimentos</h3>
    <div class="filters">
      <button 
        *ngFor="let f of filters" 
        (click)="filter(f)"
        [class.active]="selectedFilter === f"
      >
        {{ f }}
      </button>
    </div>
  </div>

  <div class="tech_grid">
    <app-img-card
      *ngFor="let item of filteredItems"
      [techImg]="item.img"
      [techName]="item.name"
      [techLevel]="item.level"
    ></app-img-card>
  </div>
</div>
