.techStack_container {
  width: 80%;
  margin: auto;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  font-family: Inter,sans-serif
}

.text {
  color: #f2f2f2;
}

.text > h3 {
  font-size: 30px;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 16px 0;
  flex-wrap: wrap;
}

.filters button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.filters button.active {
  background-color: #3b82f6;
  color: #fff;
}

.tech_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 30px;
}

@media (max-width: 768px) {
  .techStack_container {
    width: 95%;
  }

  .tech_grid {
    padding: 20px 15px; 
    gap: 15px;
  }
}

@media (max-width: 480px) {
    .tech_grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .filters button {
        padding: 8px 12px;
        font-size: 14px;
    }
}
